html {
    font-size: .8rem;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;

}

main {
    display: flex;
    flex-direction: column;
}


/* header */

header {
    background-color: #404040;
    background-image: url('../images/ribs.jpg');
    background-color: #404040;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slogan {
    margin-top: 0;
    border-top: 5px solid orangered;
    border-image: linear-gradient(to right, #FFA51D, #FF713B) 1;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 1000;
    font-size: .5rem;
    
}

.title {
    font-weight: 200;
    margin: 2em 0;
}

.accent-bold {
    font-weight: 700;
    display: block;
    color: orangered;
    margin: -0.5em;

}

.subtitle {
    color: rgba(255, 102, 0, 0.877);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}

.subtitle:hover,
.subtitle:focus,
.subtitle:active {
    border-bottom: .30em solid;
}


/* main-content */
.main-content div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.main-content-title {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.9rem;
}

.main-content-register {
    margin-top: -0.5em;
    color: #FFA51D;
}

.main-content-register a:link {
    color: rgba(255, 102, 0, 0.877);
    font-weight: 800;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 250ms;
}

.main-content-register a:hover,
.main-content-register a:focus,
.main-content-register a:active {
    border-bottom: solid;

}

.sign-up-message {
    font-size: 1.3rem;
    color: #FFA51D;
    font-weight: 700;
}

.fine-print {
    font-size: .75rem;
    letter-spacing: 1px;
}

.main-content-text {
    font-weight: 300;
}

input {
    display: block;
    font-size: .7rem;
    margin: 0 auto;
    margin-bottom: .75em;
    text-align: center;
    padding: 1.3em 0;
    border-radius: 5px;
    border: 1px solid rgb(158, 155, 155);
    width: 200px;
}

input[type="submit"] {
    background: linear-gradient(to left, #FFA51D, #FF713B);
    color: #fff;
    font-weight: 1000;
    text-transform: uppercase;
    border: 1px solid orange;
    letter-spacing: 1px;
    transform: scale(1);
    transition: all 250ms;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    background: linear-gradient(to left, #FFA51D, #FF713B );
    color: #000;
}

.privacy-notificaiton {
    font-size: .6rem;
    margin-top: 0;
    margin-bottom: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
}


@media (max-width:300px){
    input {
        font-size: .6rem;
        margin: 0 auto;
        margin-bottom: .5em;
        text-align: center;
        padding: 1em 0;
        border-radius: 5px;
        border: 1px solid rgb(158, 155, 155);
        width: 150px;
    }
}
@media (min-width:675px) {
    html{
        font-size: 1rem;
    }
    main {
        flex-direction: row;
    }

    header {
        width: 55%;
        min-width: 425px;
    }

    main {
        min-height: 100vmin;
    }

    .main-content {
        width: 45%;
        padding: 11.25em 0;
        background-color: #2f2f2f;
        color: #fff;
    }

    .main-content-title {
        margin: 0;
    }

    .slogan {
        margin-bottom: 20em;
    }

    .accent-bold {
        margin: 0.1rem 0;
        border-top: solid;
        border-bottom: solid;
    }

    .title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 0;
    }

    .subtitle:link {
        margin-top: 2em;
        font-weight: 1000;
        transition: all 250ms;
    }

    input {
        width: 220px;
    }
}