@keyframes fadeVisibilityRight {
    0% {
        opacity: 0;
        margin-right: -50px;
    }

    80% {
        opacity: 1;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes fadeVisibilityLeft {
    0% {
        opacity: 0;
        margin-left: -50px;
    }

    80% {
        opacity: 1;
    }
    
    100% {
        margin-left: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#carousel {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


.carousel-item {
    display: none;
}


.carousel-item-visible-right {
    display: block;
    animation: fadeVisibilityRight 1s;
}

.carousel-item-visible-left {
    display: block;
    animation: fadeVisibilityLeft 1s;
}

#carousel-actions {
    position: absolute;
    display: flex;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    justify-content: space-between;

}

#carousel-item-next, #carousel-item-prev {
    background-color: rgba(0,0,0,0.2);
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}

#carousel-item-next:hover, #carousel-item-prev:hover {
    background-color: rgba(0,0,0,0.5);
}

#carousel-item-next {
    margin-right: 10px;
    border-radius: 0 50% 50% 0
}

#carousel-item-prev {
    margin-left: 10px;
    border-radius: 50% 0 0 50%;
}