body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 500px;
    min-width: 400px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

#search-bar {
    background-color: brown;
    padding: 10px;

}

ul {
    background-color: burlywood;
    padding: 10px 10px 5px 10px;
    margin-top: 0;
}

li {
    background-color: rgb(88, 88, 173);
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}